*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topp{
  height: 50px;
  border-top: 3px solid #ff8500;
  border-bottom: 1px solid #edeef0;
}

.topp a{
  width: 120px;
  height: 45px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #4c4c4c;
  text-decoration: none;
}

.topp a:hover{
  background-color: #edeef0;
  color: #ff8400;
}

@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url('webfont.eot'); /* IE9 */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('webfont.woff2') format('woff2'),
  url('webfont.woff') format('woff'), /* chrome、firefox */
  url('webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font {
  font-family: "webfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  border-top: 9px;
  width: 100%;
  height: 100%;
  background-image: url(../img/litang.jpg);
}

ul{
  list-style: none;
}

.news{
  float: left;
  width: 400px;
  height: 300px;
  border: 1px solid white;
  margin: 50px auto;
  padding: 42px 30px 0;
}

.news h2{
  color: white;
  border-bottom: 1px solid white;
  font-size: 30px;
  line-height: 1;
  padding-bottom: 9px;
}

.news li{
  height: 50px;
  border-bottom: 1px dashed white;
  padding-left: 28px;
  line-height: 50px;
}

.news a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}