
.page{width:500; margin:0 auto;background-color: grey;}
.left{float:left; width:35%;height:600px;}
.right{float:left;width:48%;height:600px;}
.header{font-size: 40px;text-align: center;}
.footer{text-align: center;}
ul{list-style:none;}
		.imgBox{
            border:solid cadetblue;
            width: 300px;
            height: 450px;
        /*    margin: 0 auto;*/
        margin-left: 20px;

       	}

 		.imgBox img{
            width: 400px;
            height: 450px;
            margin: 0 auto;
          /*  padding-top: 30px;*/
        }

        .img1{
            display: block;
        }

        .img2{
            display: none;
        }

        .img3{
            display: none;
        }
